.cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

}

.card {
    min-height: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 4rem 2rem;
    text-align: center;
}

.card h2 {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1.25rem;
}

.card p {
    line-height: 1.75;
    color: $Dark-grayish-blue;
    font-weight: 600;
    margin-bottom: 2rem;
    font-size: 1.125rem;
}

.card button {
    background-color: transparent;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    cursor: pointer;

}

.card button::after {
    content: "";
    width: 110%;
    height: 7px;
    margin: auto;
    position: absolute;
    left: -5px;
    bottom: 0;
    z-index: -1;
    border-radius: 10px;

}

.card:nth-of-type(1) button:hover::after {
    z-index: -1;
    background-color: hsla(51, 100%, 49%, 1);
}

.card:nth-of-type(1) {
    grid-row: 2/3;
}

.card:nth-of-type(1) button::after {
    z-index: -1;
    background-color: hsla(51, 100%, 49%, .3);
}

.card:nth-of-type(3) button::after {
    z-index: -1;
    background-color: hsla(7, 99%, 70%, .3);
}

.card:nth-of-type(3) button:hover::after {
    z-index: -1;
    background-color: hsla(7, 99%, 70%, 1);
}

.card:nth-of-type(2) {
    background-image: url(../images/mobile/image-transform.jpg);
    grid-row: 1/2;
}

.card:nth-of-type(4) {
    grid-row: 3/4;
    background-image: url(../images/mobile/image-stand-out.jpg);
}

.card:nth-of-type(5),
.card:nth-of-type(6) {
    min-height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1.75rem .75rem;

}

.card:nth-of-type(5) h2,
.card:nth-of-type(6) h2 {
    color: $Dark-desaturated-cyan;
    font-size: 1.75rem;
    align-self: center;
}

.card:nth-of-type(5) p,
.card:nth-of-type(6) p {
    align-self: center;
    color: $Dark-desaturated-cyan;
    line-height: 1.5;
    font-size: 1rem;
}

.card:nth-of-type(5) {
    background-image: url(../images/mobile/image-graphic-design.jpg);

}

.card:nth-of-type(6) {
    background-image: url(../images/mobile/image-photography.jpg);
}

@media screen and (min-width:768px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    .card {
        min-height: 600px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 2rem 10rem;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .card h2 {
        font-size: 2.6rem;
        font-weight: 900;
        margin-bottom: 1.25rem;
        color: $Very-dark-desaturated-blue;
    }

    .card p {
        line-height: 1.75;
        color: $Dark-grayish-blue;
        font-weight: 600;
        margin-bottom: 2rem;
        font-size: 1.125rem;
    }

    .card button {
        background-color: transparent;
        font-size: 1rem;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        text-align: left;
        cursor: pointer;
        font-weight: 900;
    }

    .card button::after {
        content: "";
        width: 125px;
        height: 7px;
        margin: auto;
        display: block;
        position: absolute;
        left: -5px;
        bottom: 0;
        z-index: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;

    }

    .card:nth-of-type(1) {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .card:nth-of-type(2) {
        background-image: url(../images/desktop/image-transform.jpg);
        grid-row: 1/2;
        grid-column: 2/3;

    }

    .card:nth-of-type(3) {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .card:nth-of-type(4) {
        grid-row: 2/3;
        grid-column: 1/2;
        background-image: url(../images/desktop/image-stand-out.jpg);

    }

    .card:nth-of-type(5) {
        background-image: url(../images/desktop/image-graphic-design.jpg);
        text-align: center;
        padding: 2rem 10rem;
    }

    .card:nth-of-type(6) {
        background-image: url(../images/desktop/image-photography.jpg);
        text-align: center;
        padding: 2rem 10rem;
    }

    .card:nth-of-type(5) h2,
    .card:nth-of-type(6) h2 {
        margin-bottom: 1.75rem;
    }

    .card:nth-of-type(5) p,
    .card:nth-of-type(6) p {
        max-width: 330px;

    }
}

/**
Testimonials
*/
.testimonials {
    padding: 4rem 2rem 2rem 2rem;
    text-align: center;
}

.testimonials h1 {
    margin-bottom: 3rem;
    font-family: $Fraunces;
    color: $Dark-grayish-blue;
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.testimonial-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial {
    padding: 1rem 0;
}

.testimonial img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-inline: auto;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.testimonial p {
    color: $Very-dark-grayish-blue;
    line-height: 1.5;
    letter-spacing: .5px;
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
}

.testimonial h2 {
    font-size: 1rem;
    margin-bottom: .5rem;
}

.testimonial h2+p {
    font-size: .85rem;
}

@media screen and (min-width: 768px) {
    .testimonials {
        padding: 8rem 6rem 6rem 6rem;
        text-align: center;
    }

    .testimonials h1 {
        margin-bottom: 3rem;
        font-family: $Fraunces;
        color: $Dark-grayish-blue;
        font-size: 1.125rem;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    .testimonial-cards {
        flex-direction: row;
        justify-content: space-between;

    }

    .testimonial img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-inline: auto;
        margin-bottom: 4rem;
        margin-top: 1rem;
    }

    .testimonial p {
        color: $Very-dark-grayish-blue;
        line-height: 1.5;
        letter-spacing: .5px;
        margin-bottom: 4rem;
        font-size: 1.125rem;
        max-width: 330px;
    }

    .testimonial h2 {
        font-size: 1.125rem;
        margin-bottom: .5rem;
        font-weight: 900;
    }

}

/**
Gallery
*/
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
}

@media screen and (min-width: 768px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 450px);

    }

    .gallery img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}